.login-wrapper {
    width: 100%;
    height: 100vh;
    background-color: #FFD580;
}

.login-container {
    max-width: 1240px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-header {
    color: #000000;
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 2rem;
}

label {
    margin: 24px 0 8px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #14938B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 1rem;
}

input[type=submit]:hover {
    opacity: 70%;
}

.form-container {
    max-width: 300px;
    width: 500px;
}